<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Controle Financeiro</title>
    <link rel="stylesheet" href="{% static 'financas/css/bootstrap.min.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{% url 'home_transacao' %}">Controle Financeiro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home_transacao' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_transacao' %}">Tem nada aqui, só está aqui para ficar de exemplo</a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container">
        <form method="POST">
            {% csrf_token %}<!--Evita varios ataques de alteração de informações enviadas pelo form-->

            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'home_transacao' %}'">Cancelar</button>
        </form>
    </main>
</body>
</html>