{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-success float-right col-lg-2" onclick="location.href='{% url 'cadastro_transacao' %}'">Cadastrar Transação</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
<!--Esse tipo de template do jungle é feito pelo JINJA, lembrar para ver como faz all-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Forma Pagamento</th>
                    <th scope="col">Tipo Transação</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for transacao in transacoes %}
                    {% if transacao.tipo_transacao.id == 1 %}
                        <tr class="bg-danger">
                    {% else %}
                        <tr class="bg-success">
                    {% endif %}
                        <td>{{transacao}}</td>
                        <td>{{transacao.valor}}</td>
                        <td>{{transacao.dt_transacao}}</td>
                        <td>{{transacao.categoria}}</td>
                        <td>{{transacao.forma_pagamento}}</td>
                        <td>{{transacao.tipo_transacao}}</td>
                        <td>
                            <a href="{% url 'alterar_transacao' transacao.id %}">Alterar</a>
                            <a href="{% url 'excluir_transacao' transacao.id %}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}