<!DOCTYPE html>
<html lang="pt/br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Controle Financeiro</title>
</head>
<body>
    <button type="button" onclick="location.href='{% url 'cadastro_transacao' %}'">Cadastrar Transação</button>
    <!--Esse tipo de template do jungle é feito pelo JINJA, lembrar para ver como faz all-->
    <table>
        <th>
            <td>Nome</td>
            <td>Valor</td>
            <td>Data</td>
            <td>Categoria</td>
            <td>Forma Pagamento</td>
            <td>Tipo Transação</td>
            <td>Ações</td>
        </th>
    {% for transacao in transacoes %}
        <tr>
            <td>{{transacao}}</td>
            <td>{{transacao.valor}}</td>
            <td>{{transacao.dt_transacao}}</td>
            <td>{{transacao.categoria}}</td>
            <td>{{transacao.forma_pagamento}}</td>
            <td>{{transacao.tipo_transacao}}</td>
            <td>{{transacao}}</td>
            <td>
                <a href="{% url 'alterar_transacao' transacao.id %}">Alterar</a>
                <a href="{% url 'excluir_transacao' transacao.id %}">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>